<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster High Shop</title>
   
    <!--VUE CDN-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div id="app">
        <div class="cart">Cart: {{ cart }}</div>
        <div class="product-display">
            <div v-for="product in products" :key="product.id" class="product-container">
                <div class="product-image">
                    <img :src="product.image" alt="Imagem do produto">
                </div>
        
                <div class="product-info">
                    <h1>{{ product.title + " " + product.brand }}</h1>
                    <p v-if="product.inStock > 10">Em estoque</p>
                    <p v-else-if="product.inStock <= 10 && product.inStock >= 1">Restam poucas unidades</p>
                    <p v-else>Fora de estoque</p>
                    <ul>
                        <li v-for="detail in product.details">{{ detail }}</li>
                    </ul>
        
                    <div v-for="variant in product.variants" :key="variant.id"
                        @mouseover="changeImage(product, variant.image)"
                        class="color-circle"
                        :style="{ backgroundColor: variant.color }">
                    </div>
        
                    <button class="button" :class="{ disabledButton: product.inStock < 1 }"
                        v-on:click="addToCart"
                        :disabled="product.inStock < 1">
                        Adicionar ao carrinho
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const cart = ref(0);
                const addToCart = () => { cart.value += 1 };
              
                const changeImage = (product, variantImage) => {
                    product.image = variantImage;
                };

                const products = ref([
                    {
                        id: 1,
                        title: 'Boneca',
                        brand: 'Clawdeen',
                        image: 'assets/images/images.jpeg',
                        inStock: 20,
                        details: ['descrição', 'descrição', 'descrição'],
                        variants: [
                            { id: 1, color: 'pink', image: 'assets/images/images.jpeg' },
                            { id: 2, color: 'purple', image: 'assets/images/clawdeen.jpeg' }
                        ]
                    },
                    {
                        id: 2,
                        title: 'Boneca',
                        brand: 'Cleo',
                        image: 'assets/images/cleo.jpg',
                        inStock: 20,
                        details: ['50% Algodão', '30% Poliéster', '20% Lã'],
                        variants: [
                            { id: 1, color: 'yellow', image: 'assets/images/cleo.jpg' },
                            { id: 2, color: 'cyan', image: 'assets/images/cleo2.jpg' }
                        ]
                    }
                ]);

                return { cart, addToCart, products, changeImage };
            }
        }).mount('#app');
    </script>
</body>
</html>