<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/images/favicon.png" type="image/png">
  <title>Monster High Shop</title>

  <!--VUE CDN-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- STYLE -->
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="app">
    <header class="header">
      <a href="/" class="logo">
        <img src="assets/images/logo.png" alt="">
      </a>
      <div class="alterar-menu" @click="AlterarMenu">
        <img v-if="!VerMobileMenu" src="assets/images/menu-traco.png" alt="Abrir menu">
        <img v-else src="assets/images/fechar.png" alt="Fechar menu">
      </div>
      <nav class="nav-menu" :class="{ 'open': VerMobileMenu }">
        <a href="/">Home</a>
        <a href="#products">Produtos</a>
        <a href="">Carrinho</a>
        <a href="#sobre">Sobre</a>
      </nav>
      <div class="header-icons">
        <input type="text" placeholder="Faça uma pesquisa..." class="search-input">
        <div class="cart-container" @click="AlterarCart">
          <img src="assets/images/cart.png" alt="Carrinho" class="cart-icon">
          <span class="cart-count" v-if="cart.length > 0">{{ cart.length }}</span>
        </div>
        <div class="user">
          <img src="assets/images/user.png" alt="">
        </div>
      </div>
    </header>
    <main>
      <div class="carousel-container">
        <div class="swiper" v-if="slides.length > 0">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="slide in slides" :key="slide.id">
              <img :src="slide.image" :alt="slide.alt" class="slide-image" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="product-display">
        <div v-for="product in products" :key="product.id" class="product-container">
          <div class="product-image">
            <img :src="product.image" alt="Imagem do produto" class="card-img">
          </div>

          <div class="product-info">
            <h1>{{ product.title + " " + product.brand }}</h1>
            <p v-if="product.inStock > 10">Em estoque</p>
            <p v-else-if="product.inStock <= 10 && product.inStock >= 1">Restam poucas unidades</p>
            <p v-else>Fora de estoque</p>
            <ul class="details">
              <li v-for="detail in product.details">{{ detail }}</li>
            </ul>
            <div class="cont-dois">
              <div class="cores">
                <div v-for="variant in product.variants" :key="variant.id"
                  @mouseover="changeImage(product, variant.image)" class="color-circle"
                  :style="{ backgroundColor: variant.color }">
                </div>
              </div>

              <div class="btn">
                <button class="button" :class="{ disabledButton: product.inStock < 1 }" @click="addToCart(product)"
                  :disabled="product.inStock < 1">
                  Adicionar ao carrinho
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <footer id="sobre">
    <div class="footer-container">
      <img src="assets/images/logo.png" alt="Logo">
      <h4>© Todos os direitos reservados a Monster High Shop</h2>
    </div>
  </footer>

</body>

<!--JAVASCRIPT-->
<script src="assets/script.js"></script>
</html>