
body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}

.button {
  margin: 30px;
  padding: 10px;
  background-color: #492d45;
  border-radius: 1cap;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
}

.button:hover {
  transition: 0.15s;
  background-color: #000000;
}

.button:active {
  transform: scale(0.9);
}

.cart {
  margin: 25px 100px;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;
  width: 5%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.color-circle {
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}


.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.product-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-container {
  border: 1px solid #ccc;
  margin: 25px;
  text-align: center;
  width: 25%;
  border-radius: 15px;
  padding: 25px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  padding: 15px;
}

.color-circle:hover {
  transition: 0.15s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

img{
  width: 15rem;
  max-width: 100%;
  height:15rem;
  object-fit: cover;
  margin: 15px;
  border-radius: 15px;
}
.details{
  text-decoration: none;
  list-style-type: none;
  padding: 0 0 5px 0;
  font-size: medium;
}

.cont-dois {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
